.Board {
  display: flex;
  flex-wrap: wrap;

}
.item {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  flex: auto;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputSize {
  width: 100px;
  height: 30px;
} 